.nav-logo {
  padding-left: 50px;
}


.banner{
  background-image: url('../images/Salade_landing-3.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 600px;
}

.banner h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 66px;
  font-weight: 300;
  color: #44dbe6;
}

.banner p {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #6A6A6A;
}

.footer{
  background-color: #191919;
  color: #f4f4f4;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer a {
  font-family: 'Droid Serif', serif;
  color: #FAFAFA;
  font-size: 25px;
}

.footer a:hover{
  color: white;
  text-decoration: none;
}





.navbar-transparent{
  background: transparent;
  border: none;
}

.navbar-transparent .navbar-nav > li > a,
.navbar-transparent .navbar-nav > li > a:hover
{
  color: white;
  line-height: 50px;
}

.navbar-transparent .navbar-brand {
  line-height: 50px;
}

.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus{
  background: transparent;
  color: white;
}

#nav-btn {
  background-color: #009AAB;
  color: #fff;
  border: none;
  border-radius: 0;
  margin-top: 20px;
  line-height: 10px;
}